


.nav-item{
  color: black;
}



-----------------------
*{
    box-sizing: border-box;
    font-family: "work Sans";
    margin: 0;
    padding: 0;
  }
   /* Estilos para el encabezado */
   .contenedor-header {
    background-color: #9afa2d;
    padding: 2px;
  }
  
  .contenido-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .contenedor-img img {
    max-height: 100px;
  }
  
  .menu-navegacion {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .menu-navegacion li {
    margin-right: 20px;
    font-size: 17px;
  }
  
  .menu-navegacion li:last-child {
    margin-right: 0;
  }
  
  .menu-navegacion a {
    text-decoration: none;
    color: #232c1d;
    font-weight: bold;
  }
  
  .menu-navegacion a:hover {
    color: #a004fa;
    text-decoration: overline;
  }
  .inicio-sesion {
    /* Estilo del contenedor del formulario de inicio de sesión */
    
    padding: 10px;
    
  }
  /* Estilo para los elementos dentro del formulario */
  .inicio-sesion input[type="text"],
  .inicio-sesion input[type="password"]{
   border-radius: 30px;
   border: none;
   padding: 3px;
   background-color: #e9f3d1
   color #000000;
  }
  .inicio-sesion button {
    box-shadow: 3px 4px 0px 0px #8e9989;
    background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color: #ededed;
    border-radius: 19px;
    border: 1px solid #d6bcd6;
    font-size: 17px;
    cursor: pointer;
    padding: 2px 15px;
    text-shadow: 0px 1px 0px #e1e2ed;
  }
  
  .inicio-sesion button:hover{
    background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color: #bab1ba;
  }
  .inicio-sesion button:active {
    position: relative;
    top: 1px;
  }

  .inicio-sesion p{
    /* Estilos para el enlace "Registrarse" */
    color: #000000; /* Cambia el color del enlace según tus preferencias */
    text-decoration: underline; /* Añade un subrayado al enlace si lo deseas */
    margin-left: 211px;
  }

  /* Estilos para el botón "Registrarse" */
  .myButton {
    box-shadow: 3px 4px 0px 0px #8e9989;
    background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color: #ededed;
    border-radius: 19px;
    border: 1px solid #d6bcd6;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: Georgia;
    font-size: 16px;
    padding: 2px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #e1e2ed;
    margin-top: 10px; /* Ajusta el valor de margen según tus necesidades */
    /* Por confirmar */
    
  }
  
  .myButton:hover {
    background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color: #bab1ba;
  }
  
  .myButton:active {
    position: relative;
    top: 2px;
  }
  
  /* Estilos para el banner */
  #banner {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
  }
  
  #banner video {
    position: absolute;
    top: -3;
    left: 0;
    width: 105%;
    height: 108%;
  }
  
  
  .texto-banner {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }
  #banner > .texto-banner > h2 {
    font-size: 50px;
    color: #fff;
    /* font-family: Georgia; */
    
  }
  /* #banner > .texto-banner > h2 p {
    font-size: 105px;
    color: #fa0000;
    font-family: 'Lobster', cursive;
  } */
  #banner > .texto-banner > p {
    font-size: 22px;
    color: rgb(255, 255, 255);
  }
  
  /* Estilos para los servicios */
  #servicios {
    background: #fff;
    padding: 50px;
    text-align: center;
    color: #333;
  }
  
  #servicios h2 {
    margin-bottom: 20px;
    font-size: 100px;
  }
  
  #servicios ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }
  
  #servicios li {
    flex: 1 1 300px;
    margin: 10px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 5px;
  }
  
  /*seccion productos*/
  .productos{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
  }
  .productos .contenido-seccion{
      max-width: 1100px;
      margin: auto;
  }
  .productos h2{
      font-size: 48px;
      font-family: ‘Righteous’;
      text-align: center;
      padding: 20px 0;
  }
  .productos .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .productos .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;   
  }
  .productos .galeria .proyecto img{
    width: 100%;
    display: block;
  }
  .productos .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgb(28,182,152,.8), rgba(28,182,152,.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
  }
  .productos .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
  }
  .productos .galeria .proyecto .overlay:hover{
    opacity: 1;
  }
  .productos .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
  }
   /*SECCION CONTACTO*/
  
   .contacto{
    background-image: url(../img/contact_bg.png);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
  }
  .contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
  }
  .contacto h2{
    font-size: 48px;
    font-family: ‘Righteous’;
    text-align: center;
    padding: 20px 0;
  }
  .contacto .fila{
    display: flex;
  }
  .contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
  }
  .contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px
  }
  .contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
  }
  .contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
  }
  .contacto button:hover .overlay{
    width: 100px;
  }
  .contacto .col img{
    width: 100%;
  }
  .contacto .col .info{
    position: absolute;
    top: 40%;
    background-color: #1e2326;
    padding: 5px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .contacto .col ul{
    list-style: none;
  }
  .contacto .fila ul li{
    margin-bottom: 15px;
  } 
  .contacto .fila ul li i{
    color: #1CB698;
    display: inline-block;
    margin-right: 20px;
  }
  /* Footer de la página */
  /*
  footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
  }
  footer .redes{
    margin-bottom: 20px;
  }
  footer .redes a{
    color: #f5c9c9;
    display: inline-block;
    text-decoration: none;
    /* border: 1px solid #fff; */
    /*
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 20px 5px;
    font-size: 30px;
    transition: .3s;
  }
  
  */
  footer .arriba{
    
    width: 50px;
    height: 50px;
    /* background-color: #1f2020; */
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10px;
    /* border-radius: 50%; */
    line-height: 60px;
    font-size: 22px;
  }
/*  */
  footer .arriba arriba{
    text-align: center;
    font-size: 22px;
  }
 
footer{
    background-color: #000000;
    color: #fff;
    padding: 30px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
  }


footer .redes a{
   font-size: 2em;
   background-color: #18191f;
   color: #ffffff;
   box-shadow: 2px 2px 2px #00000080, 
   5px 1px 12px #00000080,
   2px 2px 3px #00000080, inset 2px 2px 10px #00000080, 
   inset 2px 2px 10px #00000080;
   border-radius: 29px;
   padding: 11px 19px;
   margin: 0 40px;
   animation: animate 3s linear infinite;
   text-shadow: 0 0 50px #0072ff, 0 0 100px
   #0072ff, 0 0 150px #0072ff, 0 0 200px #0072ff;
  }
  

  #facebook {
    animation-delay: 0.3s;
  }
  #whatsapp {
    animation-delay: 0.5;
  }
  #twitter {
    animation-delay: 0.7s;
  }

  #instagram {
    animation-delay: 0.2s;
  }

  @keyframes animate {
    from {
        filter: hue-rotate(0deg);
    }
    to{
        filter: hue-rotate(180deg);
    }
  }
  .hcWEfJ {
    box-sizing: border-box;
    width: 100%;
    max-width: 700px;
    margin: 0px auto;
}

  
  /* kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk */
  .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .popup h2 {
    margin-top: 0;
  }
  
  .popup input {
    margin-bottom: 10px;
  }
  
  .popup button {
    background-color: #1CB698;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .popup button.close {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Media queries para ajustar el diseño en pantallas más pequeñas */
  @media (max-width: 768px) {
    .contenido-banner {
      flex-direction: column;
      align-items: center;
    }
  
    .inicio-sesion {
      margin-top: 10px;
    }
  
    #servicios ul {
      flex-direction: column;
      align-items: center;
    }
  
    #servicios li {
      margin: 10px 0;
    }
  }

  /* SECCION RESPONSIVE*/
  
  @media screen and (max-width:980px) {
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    } 
  }
  @media screen and (max-width:700px) {
    .sobremi .fila{
        display: block;
    }
    
    .servicios .ul .li{
        display: block;
    }
  
    
    .productos .galeria{
        display: block;
        width: 100%;
    }
    .productos .galeria .proyecto{
        max-width: 100%;
    }
    .productos .galeria .proyecto img{
        width: 100%;
    }
  }  